# lollipopChart

The lollipop chart provides a visualization of values compared to their own comparison value. The value is the lollipop and the comparison is the bar. 

# Getting Started

For now, you must use a script tag to include lollipopChart. D3 must be available in the global namespace as well. Download lollipopChart.js, put something like the following in your <head> and you should be good to go.

```
<script src="d3.js" charset="utf-8"></script>
<script src="lollipopChart.js" charset="utf-8"></script>
```

# Example

HTML would look something like this

```
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<script src="d3.js" charset="utf-8"></script>
		<script src="lollipopChart.js" charset="utf-8"></script>
		
	</head>
	<body>
		<div id="myLollipopChart"></div>	
	</body>
	<script src="index.js"></script>
</html>
```

And the index.js here would contain something like this

```
//replaceme
```

# API Reference
{{#class name="lollipopChart"}}{{>docs}}{{/class}}